[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
blue = "*"
isort = "*"

[requires]
python_version = "3.11"
